In [1]:
import pandas as pd
import numpy as np
import lightgbm as lgb
import time

In [2]:
df = pd.read_csv('dataset/train/1_train.csv', parse_dates=['date'])
df.drop(df.columns[[2, 3, 5]], axis=1, inplace=True)

In [3]:
df.head(5)

        date  Balance.Cost  Withdrawals  uang_idle
0 2018-01-01         32367     78700000      45304
1 2018-01-02         65392    112900000      32367
2 2018-01-03         47523    108700000      65392
3 2018-01-04         30970    100700000      47523
4 2018-01-05         62901    127750000      30970

In [4]:
test_df = pd.read_csv('dataset_backup/data_input/atm_test.csv')
test_df.head(5)

    no. ATM;date
0  K1;25/03/2018
1  K1;26/03/2018
2  K1;27/03/2018
3  K1;28/03/2018
4  K1;29/03/2018

# Add Features

In [25]:
df['dayofmonth'] = df.date.dt.day
df['dayofyear'] = df.date.dt.dayofyear
df['dayofweek'] = df.date.dt.dayofweek
df['month'] = df.date.dt.month
df['year'] = df.date.dt.year
df['weekofyear'] = df.date.dt.weekofyear
df['is_month_start'] = (df.date.dt.is_month_start).astype(int)
df['is_month_end'] = (df.date.dt.is_month_end).astype(int)
df.head(60)

,date,Balance.Cost,Withdrawals,uang_idle,dayofmonth,dayofyear,dayofweek,month,year,weekofyear,is_month_start,is_month_end
0,2018-01-01,32367,18.181154,45304,1,1,0,1,2018,1,1,0
1,2018-01-02,65392,18.542013,32367,2,2,1,1,2018,1,0,0
2,2018-01-03,47523,18.504102,65392,3,3,2,1,2018,1,0,0
3,2018-01-04,30970,18.427656,47523,4,4,3,1,2018,1,0,0
4,2018-01-05,62901,18.665586,30970,5,5,4,1,2018,1,0,0
5,2018-01-06,45805,18.459901,62901,6,6,5,1,2018,1,0,0
6,2018-01-07,34455,18.050341,45805,7,7,6,1,2018,1,0,0
7,2018-01-08,62671,18.720415,34455,8,8,0,1,2018,2,0,0
8,2018-01-09,45732,18.450725,62671,9,9,1,1,2018,2,0,0
9,2018-01-10,27625,18.517354,45732,10,10,2,1,2018,2,0,0
10,2018-01-11,68762,18.550392,27625,11,11,3,1,2018,2,0,0
11,2018-01-12,50375,18.532669,68762,12,12,4,1,2018,2,0,0
12,2018-01-13,31397,18.564348,50375,13,13,5,1,2018,2,0,0
13,2018-01-14,20408,18.017962,31397,14,14,6,1,2018,2,0,0
14,2018-01-15,64923,18.612953,20408,15,15,0,1,2018,3,0,0
15,2018-01-16,49118,18.381420,64923,16,16,1,1,2018,3,0,0
16,2018-01-17,30510,18.544667,49118,17,17,2,1,2018,3,0,0
17,2018-01-18,63616,18.610474,30510,18,18,3,1,2018,3,0,0
18,2018-01-19,49036,18.300770,63616,19,19,4,1,2018,3,0,0
19,2018-01-20,27921,18.671050,49036,20,20,5,1,2018,3,0,0
20,2018-01-21,17622,17.953074,27921,21,21,6,1,2018,3,0,0
21,2018-01-22,56581,18.694137,17622,22,22,0,1,2018,4,0,0
22,2018-01-23,36255,18.632966,56581,23,23,1,1,2018,4,0,0
23,2018-01-24,64299,18.343260,36255,24,24,2,1,2018,4,0,0
24,2018-01-25,30797,19.132650,64299,25,25,3,1,2018,4,0,0
25,2018-01-26,66230,18.464698,30797,26,26,4,1,2018,4,0,0
26,2018-01-27,39090,18.922062,66230,27,27,5,1,2018,4,0,0
27,2018-01-28,25858,18.203768,39090,28,28,6,1,2018,4,0,0
28,2018-01-29,69082,18.783586,25858,29,29,0,1,2018,5,0,0
29,2018-01-30,42542,18.899706,69082,30,30,1,1,2018,5,0,0
30,2018-01-31,68334,19.264401,42542,31,31,2,1,2018,5,0,1
31,2018-02-01,40595,18.943929,68334,1,32,3,2,2018,5,1,0
32,2018-02-02,58841,18.824812,40595,2,33,4,2,2018,5,0,0
33,2018-02-03,35540,18.769576,58841,3,34,5,2,2018,5,0,0
34,2018-02-04,21238,18.281419,35540,4,35,6,2,2018,5,0,0
35,2018-02-05,58537,18.753575,21238,5,36,0,2,2018,6,0,0
36,2018-02-06,37504,18.667150,58537,6,37,1,2,2018,6,0,0
37,2018-02-07,65901,18.468995,37504,7,38,2,2,2018,6,0,0
38,2018-02-08,48575,18.473273,65901,8,39,3,2,2018,6,0,0
39,2018-02-09,32203,18.416673,48575,9,40,4,2,2018,6,0,0
40,2018-02-10,61923,18.649806,32203,10,41,5,2,2018,6,0,0
41,2018-02-11,51041,18.008191,61923,11,42,6,2,2018,6,0,0
42,2018-02-12,33370,18.493001,51041,12,43,0,2,2018,7,0,0
43,2018-02-13,63534,18.487872,33370,13,44,1,2,2018,7,0,0
44,2018-02-14,45625,18.506400,63534,14,45,2,2,2018,7,0,0
45,2018-02-15,28142,18.482246,45625,15,46,3,2,2018,7,0,0
46,2018-02-16,65762,18.616659,28142,16,47,4,2,2018,7,0,0
47,2018-02-17,50425,18.351331,65762,17,48,5,2,2018,7,0,0
48,2018-02-18,41474,17.812793,50425,18,49,6,2,2018,7,0,0
49,2018-02-19,65318,18.545991,41474,19,50,0,2,2018,8,0,0
50,2018-02-20,44441,18.659698,65318,20,51,1,2,2018,8,0,0
51,2018-02-21,27419,18.455565,44441,21,52,2,2,2018,8,0,0
52,2018-02-22,66805,18.174780,27419,22,53,3,2,2018,8,0,0
53,2018-02-23,48263,18.541127,66805,23,54,4,2,2018,8,0,0
54,2018-02-24,25784,18.733665,48263,24,55,5,2,2018,8,0,0
55,2018-02-25,66288,18.083808,25784,25,56,6,2,2018,8,0,0
56,2018-02-26,50926,18.352937,66288,26,57,0,2,2018,9,0,0
57,2018-02-27,70849,18.957759,50926,27,58,1,2,2018,9,0,0
58,2018-02-28,27493,19.390512,70849,28,59,2,2,2018,9,0,1
59,2018-03-01,62005,18.970823,27493,1,60,3,3,2018,9,1,0

## One Hot Encoder

In [6]:
def one_hot_encoder(df, ohe_cols=['store','item','dayofmonth','dayofweek','month','weekofyear']):
    '''
    One-Hot Encoder function
    '''
    print('Creating OHE features..\nOld df shape:{}'.format(df.shape))
    df = pd.get_dummies(df, columns=ohe_cols)
    print('New df shape:{}'.format(df.shape))
    return df

# Normalization

In [7]:
df.head(2)

,date,Balance.Cost,Withdrawals,uang_idle,dayofmonth,dayofyear,dayofweek,month,year,weekofyear,is_month_start,is_month_end
0,2018-01-01,32367,78700000,45304,1,1,0,1,2018,1,1,0
1,2018-01-02,65392,112900000,32367,2,2,1,1,2018,1,0,0

In [8]:
df['Withdrawals'] = np.log1p(df.Withdrawals.values)
df.head(2)

,date,Balance.Cost,Withdrawals,uang_idle,dayofmonth,dayofyear,dayofweek,month,year,weekofyear,is_month_start,is_month_end
0,2018-01-01,32367,18.181154,45304,1,1,0,1,2018,1,1,0
1,2018-01-02,65392,18.542013,32367,2,2,1,1,2018,1,0,0

In [9]:
df.head(2)

,date,Balance.Cost,Withdrawals,uang_idle,dayofmonth,dayofyear,dayofweek,month,year,weekofyear,is_month_start,is_month_end
0,2018-01-01,32367,18.181154,45304,1,1,0,1,2018,1,1,0
1,2018-01-02,65392,18.542013,32367,2,2,1,1,2018,1,0,0

In [10]:
# X = df.iloc[:, [1, 3, 4, 5, 6, 7, 8, 9, 10, 11]]
X = df.iloc[:, [4, 5, 6, 7, 8, 9, 10, 11]]
y = df.iloc[:, 2]

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(
    X, y, test_size=0.1
)

In [12]:
X = one_hot_encoder(X, ohe_cols=['dayofweek','month'])
X.head(5)

Creating OHE features..
Old df shape:(83, 8)
New df shape:(83, 16)

,dayofmonth,dayofyear,year,weekofyear,is_month_start,is_month_end,dayofweek_0,dayofweek_1,dayofweek_2,dayofweek_3,dayofweek_4,dayofweek_5,dayofweek_6,month_1,month_2,month_3
0,1,1,2018,1,1,0,1,0,0,0,0,0,0,1,0,0
1,2,2,2018,1,0,0,0,1,0,0,0,0,0,1,0,0
2,3,3,2018,1,0,0,0,0,1,0,0,0,0,1,0,0
3,4,4,2018,1,0,0,0,0,0,1,0,0,0,1,0,0
4,5,5,2018,1,0,0,0,0,0,0,1,0,0,1,0,0

In [13]:
avoid_cols = ['date', 'Withdrawals', 'year']
cols = [col for col in X.columns if col not in avoid_cols]
print('No of training features: {} \nAnd they are:{}'.format(len(cols), cols))

No of training features: 15
And they are:['dayofmonth', 'dayofyear', 'weekofyear', 'is_month_start', 'is_month_end', 'dayofweek_0', 'dayofweek_1', 'dayofweek_2', 'dayofweek_3', 'dayofweek_4', 'dayofweek_5', 'dayofweek_6', 'month_1', 'month_2', 'month_3']

In [14]:
def smape(preds, target):
    '''
    Function to calculate SMAPE
    '''
    n = len(preds)
    masked_arr = ~((preds==0)&(target==0))
    preds, target = preds[masked_arr], target[masked_arr]
    num = np.abs(preds-target)
    denom = np.abs(preds)+np.abs(target)
    smape_val = (200*np.sum(num/denom))/n
    return smape_val

def lgbm_smape(preds, train_data):
    '''
    Custom Evaluation Function for LGBM
    '''
    labels = train_data.get_label()
    smape_val = smape(np.expm1(preds), np.expm1(labels))
    return 'SMAPE', smape_val, False

In [15]:
# LightGBM parameters
lgb_params = {'task':'train', 'boosting_type':'gbdt', 'objective':'regression', 
              'metric': {'mae'}, 'num_leaves': 10, 'learning_rate': 0.02, 
              'feature_fraction': 0.8, 'max_depth': 5, 'verbose': 0, 
              'num_boost_round':15000, 'early_stopping_rounds':200, 'nthread':-1}

In [16]:
lgbtrain = lgb.Dataset(data=X_train.loc[:,cols].values, label=y_train, 
                       feature_name=cols)
lgbval = lgb.Dataset(data=X_val.loc[:,cols].values, label=y_val, 
                     reference=lgbtrain, feature_name=cols)

/home/agus/anaconda3/envs/basic/lib/python3.6/site-packages/pandas/core/indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

In [17]:
def lgb_validation(params, lgbtrain, lgbval, X_val, Y_val, verbose_eval):
    t0 = time.time()
    evals_result = {}
    model = lgb.train(params, lgbtrain, num_boost_round=params['num_boost_round'], 
                      valid_sets=[lgbtrain, lgbval], feval=lgbm_smape, 
                      early_stopping_rounds=params['early_stopping_rounds'], 
                      evals_result=evals_result, verbose_eval=verbose_eval)
    print(model.best_iteration)
    print('Total time taken to build the model: ', (time.time()-t0)/60, 'minutes!!')
    pred_Y_val = model.predict(X_val, num_iteration=model.best_iteration)
    pred_Y_val = np.expm1(pred_Y_val)
    Y_val = np.expm1(Y_val)
    val_df = pd.DataFrame(columns=['true_Y_val','pred_Y_val'])
    val_df['pred_Y_val'] = pred_Y_val
    val_df['true_Y_val'] = Y_val
    print(val_df.shape)
    print(val_df.sample(5))
    print('SMAPE for validation data is:{}'.format(smape(pred_Y_val, Y_val)))
    return model, val_df

In [18]:
# Training lightgbm model and validating
model, val_df = lgb_validation(lgb_params, lgbtrain, lgbval, X_val.loc[:,cols].values, 
                               y_val, verbose_eval=500)

/home/agus/anaconda3/envs/basic/lib/python3.6/site-packages/pandas/core/indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)
/home/agus/anaconda3/envs/basic/lib/python3.6/site-packages/lightgbm/engine.py:113: UserWarning: Found `num_boost_round` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
/home/agus/anaconda3/envs/basic/lib/python3.6/site-packages/lightgbm/engine.py:118: UserWarning: Found `early_stopping_rounds` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))

Training until validation scores don't improve for 200 rounds.
Early stopping, best iteration is:
[15]	training's l1: 0.211217	training's SMAPE: 20.7837	valid_1's l1: 0.222603	valid_1's SMAPE: 22.1019
15
Total time taken to build the model:  0.011211645603179932 minutes!!
(9, 2)
   true_Y_val    pred_Y_val
8         NaN  1.072436e+08
0         NaN  1.072436e+08
2         NaN  1.123721e+08
3         NaN  1.118764e+08
6         NaN  1.100921e+08
SMAPE for validation data is:22.101927493407512

In [19]:
# Let's see top 25 features as identified by the lightgbm model.
print("Features importance...")
gain = model.feature_importance('gain')
feat_imp = pd.DataFrame({'feature':model.feature_name(), 
                         'split':model.feature_importance('split'), 
                         'gain':100 * gain / gain.sum()}).sort_values('gain', ascending=False)
print('Top 25 features:\n', feat_imp.head(25))

Features importance...
Top 25 features:
            feature  split       gain
0       dayofmonth     18  70.390024
1        dayofyear     12  29.609976
2       weekofyear      0   0.000000
3   is_month_start      0   0.000000
4     is_month_end      0   0.000000
5      dayofweek_0      0   0.000000
6      dayofweek_1      0   0.000000
7      dayofweek_2      0   0.000000
8      dayofweek_3      0   0.000000
9      dayofweek_4      0   0.000000
10     dayofweek_5      0   0.000000
11     dayofweek_6      0   0.000000
12         month_1      0   0.000000
13         month_2      0   0.000000
14         month_3      0   0.000000

In [20]:
X_train

,dayofmonth,dayofyear,dayofweek,month,year,weekofyear,is_month_start,is_month_end
7,8,8,0,1,2018,2,0,0
18,19,19,4,1,2018,3,0,0
45,15,46,3,2,2018,7,0,0
10,11,11,3,1,2018,2,0,0
21,22,22,0,1,2018,4,0,0
39,9,40,4,2,2018,6,0,0
47,17,48,5,2,2018,7,0,0
79,21,80,2,3,2018,12,0,0
61,3,62,5,3,2018,9,0,0
6,7,7,6,1,2018,1,0,0
69,11,70,6,3,2018,10,0,0
68,10,69,5,3,2018,10,0,0
20,21,21,6,1,2018,3,0,0
25,26,26,4,1,2018,4,0,0
46,16,47,4,2,2018,7,0,0
9,10,10,2,1,2018,2,0,0
73,15,74,3,3,2018,11,0,0
65,7,66,2,3,2018,10,0,0
37,7,38,2,2,2018,6,0,0
78,20,79,1,3,2018,12,0,0
33,3,34,5,2,2018,5,0,0
0,1,1,0,1,2018,1,1,0
55,25,56,6,2,2018,8,0,0
19,20,20,5,1,2018,3,0,0
57,27,58,1,2,2018,9,0,0
26,27,27,5,1,2018,4,0,0
64,6,65,1,3,2018,10,0,0
16,17,17,2,1,2018,3,0,0
76,18,77,6,3,2018,11,0,0
52,22,53,3,2,2018,8,0,0
...,...,...,...,...,...,...,...,...
27,28,28,6,1,2018,4,0,0
54,24,55,5,2,2018,8,0,0
3,4,4,3,1,2018,1,0,0
22,23,23,1,1,2018,4,0,0
38,8,39,3,2,2018,6,0,0
14,15,15,0,1,2018,3,0,0
72,14,73,2,3,2018,11,0,0
32,2,33,4,2,2018,5,0,0
41,11,42,6,2,2018,6,0,0
53,23,54,4,2,2018,8,0,0
82,24,83,5,3,2018,12,0,0
59,1,60,3,3,2018,9,1,0
67,9,68,4,3,2018,10,0,0
43,13,44,1,2,2018,7,0,0
28,29,29,0,1,2018,5,0,0
63,5,64,0,3,2018,10,0,0
13,14,14,6,1,2018,2,0,0
8,9,9,1,1,2018,2,0,0
1,2,2,1,1,2018,1,0,0
77,19,78,0,3,2018,12,0,0
70,12,71,0,3,2018,11,0,0
23,24,24,2,1,2018,4,0,0
80,22,81,3,3,2018,12,0,0
49,19,50,0,2,2018,8,0,0
4,5,5,4,1,2018,1,0,0
31,1,32,3,2,2018,5,1,0
11,12,12,4,1,2018,2,0,0
71,13,72,1,3,2018,11,0,0
60,2,61,4,3,2018,9,0,0
44,14,45,2,2,2018,7,0,0

In [21]:
def lgb_train(params, lgbtrain_all, X_test, num_round):
    t0 = time.time()
    model = lgb.train(params, lgbtrain_all, num_boost_round=num_round, feval=lgbm_smape)
    test_preds = model.predict(X_test, num_iteration=num_round)
    print('Total time taken in model training: ', (time.time()-t0)/60, 'minutes!')
    return model, test_preds

In [22]:
# # Training lgb model on whole data(train+val)
# lgb_model, test_preds = lgb_train(lgb_params, lgbtrain_all, test.loc[:,cols].values, model.best_iteration)
# print('test_preds shape:{}'.format(test_preds.shape))

NameError: name 'lgbtrain_all' is not defined